nav {
  .nav-links {
    font-weight: bold;
  }
  position: absolute;
  z-index: 2;
  width: 100%;
}

.top-bar{
  font-size: 1.4rem;
  border-bottom: solid .1rem white;
}

// .sticky-nav{
//   position: -webkit-sticky; /* Safari */
//   position: sticky;
//   top: 0;
//   width: 100%;
// }
